**/node_modules
**/dist/

.env
sh-website/.env.local
sh-website/.env.development
sh-website/.env.production
server/.env

sh-website/.next/

.DS_Store
Thumbs.db

.vscode/

sh-website/node_modules
server/node_modules
sh-website/dist
server/dist
sh-website/.env
server/.env
sh-website/.next
node_modules